## üìä E-commerce Sales Analysis Overview

In this project, I explored a fictional e-commerce dataset using Pandas & NumPy to extract valuable business insights.

### üîç Analysis Breakdown:

1. üí∞ **Total Revenue Generated**  
   Calculated the overall revenue from all orders.

2. üèÜ **Top 5 Best-Selling Products**  
   Identified the products with the highest number of units sold.

3. üåÜ **Which City Generated Most Orders**  
   Found the city with the highest number of total orders placed.

4. üìÖ **Monthly Revenue Trend** *(using `.groupby()`)*  
   Aggregated revenue month-wise to observe time-based sales trends.

5. üì¶ **Average Order Value**  
   Measured the mean value of all orders placed.

6. üîÅ **Number of Repeat Customers**  
   Counted customers who placed more than one order.

7. üìö **Top Categories by Profit**  
   Analyzed which product categories generated the most revenue.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("ecommerce_sales_data.csv")
df.head()

,OrderID,CustomerID,Product,Category,Price,Quantity,Total,City,Date
0,101,C041,T-Shirt,Fashion,12249,3,36747,Mumbai,25-04-2023
1,102,C009,Puzzle,Toys,11187,5,55935,Delhi,30-10-2023
2,103,C028,T-Shirt,Fashion,1635,2,3270,Mumbai,16-09-2023
3,104,C039,Jacket,Fashion,3357,5,16785,Hyderabad,23-04-2023
4,105,C029,Comics,Books,13361,1,13361,Mumbai,24-12-2023

In [5]:
#Checking basic information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     100 non-null    int64
 1   CustomerID  100 non-null    object
 2   Product     100 non-null    object
 3   Category    100 non-null    object
 4   Price       100 non-null    int64
 5   Quantity    100 non-null    int64
 6   Total       100 non-null    int64
 7   City        100 non-null    object
 8   Date        100 non-null    object
dtypes: int64(4), object(5)
memory usage: 7.2+ KB

In [6]:
# Checking If null value exist
df.isnull().sum()

OrderID       0
CustomerID    0
Product       0
Category      0
Price         0
Quantity      0
Total         0
City          0
Date          0
dtype: int64

In [7]:
# Total Revenue Generated
total_revenue = df["Total"].sum()
print(f"Total revanue is ‚Çπ{total_revenue}")

Total revanue is ‚Çπ1986870

In [8]:
# Top 5 Best-Selling Products
top_products = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False).head(5)
print(f"These are the top 5 selling products \n{top_products}")

These are the top 5 selling products
Product
Board Game    34
T-Shirt       33
Jeans         20
Headphones    18
Novel         17
Name: Quantity, dtype: int64

In [9]:
# Which City Generated Most Orders
top_city = df['City'].value_counts().idxmax()
num_orders_top_city = df['City'].value_counts().max()

print(f"City with Most Orders: {top_city} ({num_orders_top_city} orders)")

City with Most Orders: Bangalore (22 orders)

In [10]:
# Monthly Revenue Trend (using .groupby)
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df['YearMonth'] = df['Date'].dt.to_period('M')
monthly_revenue = (
    df.groupby('YearMonth')['Total'].sum().sort_index()
)

print(f"Month wise revenue:\n{monthly_revenue}")

Month wise revenue:
YearMonth
2023-01     97663
2023-02    154045
2023-03    190342
2023-04    125564
2023-05    128738
2023-06    183411
2023-07     98528
2023-08    209384
2023-09    256545
2023-10    209999
2023-11    151473
2023-12    181178
Freq: M, Name: Total, dtype: int64

In [11]:
# Average Order Value
avg_order_value = df['Price'].mean()
print(f"Average value of Order are: ‚Çπ{avg_order_value}")

Average value of Order are: ‚Çπ7096.45

In [12]:
# Number of Repeat Customers
repeated_customers_count = df['CustomerID'].value_counts()
total_repeated_customers = (repeated_customers_count > 1).sum()

print(f"Repeated Customers: {total_repeated_customers}")

Repeated Customers: 24

In [13]:
# Top Categories by Profit
top_profitable_categories = df.groupby('Category')['Total'].sum().sort_values(ascending=False)
print(f"Revenue by Category:\n{top_profitable_categories}")

Revenue by Category:
Category
Fashion        522498
Toys           443144
Electronics    300675
Home           284322
Books          221364
Beauty         214867
Name: Total, dtype: int64